[submodule "mss_evaluation/vendor/sigsep-mus-oracle"]
	path = mss_evaluation/vendor/sigsep-mus-oracle
	url = https://github.com/sigsep/sigsep-mus-oracle
[submodule "mss_evaluation/vendor/sigsep-mus-db"]
	path = mss_evaluation/vendor/sigsep-mus-db
	url = https://github.com/sigsep/sigsep-mus-db
[submodule "mss_evaluation/vendor/sigsep-mus-eval"]
	path = mss_evaluation/vendor/sigsep-mus-eval
	url = https://github.com/sigsep/sigsep-mus-eval
[submodule "mss_evaluation/vendor/sigsep-mus-2018-analysis"]
	path = mss_evaluation/vendor/sigsep-mus-2018-analysis
	url = https://github.com/sigsep/sigsep-mus-2018-analysis
[submodule "mss_evaluation/vendor/open-unmix-pytorch"]
	path = mss_evaluation/vendor/open-unmix-pytorch
	url = https://github.com/sigsep/open-unmix-pytorch
[submodule "mss_evaluation/vendor/xumx-sliCQ"]
	path = mss_evaluation/vendor/xumx-sliCQ
	url = git@github.com:sevagh/xumx-sliCQ.git
[submodule "mss_evaluation/vendor/ai-research-code"]
	path = mss_evaluation/vendor/ai-research-code
	url = https://github.com/sony/ai-research-code
[submodule "nsgt_spec_plotter/nsgt"]
	path = nsgt_spec_plotter/nsgt
	url = git@github.com:sevagh/nsgt
[submodule "sliceq22-ideas/essentia"]
	path = sliceq22-ideas/essentia
	url = https://github.com/MTG/essentia
[submodule "latex-old/mdx-submissions21"]
	path = latex-old/mdx-submissions21
	url = git@github.com:sevagh/mdx-submissions21
